<footer class="footer footer-section" id="foot">
  <div class="footer-main">
    <div class="container">
      <div class="row items">
        <div class="col-xl-3 col-lg-3 col-md-5 col-12 item wow fadeInUp" data-wow-duration="1.5s">
          <!-- Begin company info -->
          <div class="footer-company-info">
            <div class="footer-company-top">
              <a href="" class="logo logo-ico-widht-text" title="PathSoft">
                <span class="logo-text">About Us</span>
              </a>
              <div class="footer-company-desc">
                <p>Technical Society of SNU,<br> Kolkata.</p><br>
                <p>Innovation.Possibility.Revolution</p><br>
                <p>Designed by <a href="#" target="_blank">Sambhav Web Team</a></p><br>
                <a href="#"><i class="fa fa-envelope" aria-hidden="true"style="margin-right:5px;"></i>naveen.sujal666@gmail.com</a><br><br>
                <p class="copy-right">&copy; 2019 Sambhav
                  <br>All Rights Reserved
                </p>
              </div>
            </div>
          </div>
          <!-- End company info -->
        </div>
        <div class="col-xl-2 offset-xl-1 col-md-3 col-5 col-lg-2 item wow fadeInUp" data-wow-duration="1.5s">
          <div class="footer-item">
            <h4 class="footer-item-title">Our Address</h4>
            <a href="#"><i class="fa fa-map-marker fa-lg" aria-hidden="true" style="margin-right:5px;"></i>
             DG 1/2 New Town Action Area 1(Beside Rabindra Tirtha)
, &nbsp&nbsp&nbsp&nbsp&nbspNewtown, &nbsp&nbsp&nbsp&nbsp&nbspKolkata, West Bengal-700156 
          </a><br><br>
            <p><i class="fa fa-phone fa-lg" aria-hidden="true" style="margin-right:5px;"></i>Naveen Shaw<br>&nbsp&nbsp&nbsp&nbsp&nbsp7003081349 </p>
            <a href="#"><i class="fa fa-globe fa-lg" aria-hidden="true" style="margin-right:5px;"></i>www.snuniv.ac.in</a>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3 col-7 item wow fadeInUp" data-wow-duration="1.5s">
          <div class="footer-item">
            <h4 class="footer-item-title">Connect With Us</h4>
            <a href="https://www.facebook.com/naveenshaw1998/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="margin-right:10px;"></i></a>
            <a href="https://github.com/naveen666"><i class="fa fa-github-alt fa-2x" aria-hidden="true"style="margin-right:10px;"></i></a>
            <a href="https://www.linkedin.com/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true" style="margin-right:10px;"></i></a>
            <a href="https://twitter.com/"><i class="fa fa-twitter fa-2x" aria-hidden="true" style="margin-right:10px;"></i></a>
            <a href="https://instagram.com/"><i class="fa fa-instagram fa-2x" aria-hidden="true" style="margin-right:10px;"></i></a>
          </div>
        </div>
        <div class="col-xs-4 col-lg-4 col-12 item wow fadeInUp" data-wow-duration="1.5s">
          <div class="footer-item">
            <h4 class="footer-item-title">Like us on Facebook</h4>
            <div class="fb-page" data-href="https://www.facebook.com/naveenshaw1998" data-tabs="timeline" data-width="180" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
            <<div class="fb-page" data-href="https://www.facebook.com/SisterNiveditaUniversity/" data-tabs="timeline" data-width="300" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/SisterNiveditaUniversity/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SisterNiveditaUniversity/">Sister Nivedita University</a></blockquote></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<style>
  .footer-section {
    background-image: url('img/project_bg.png');
    background-position: center;
  }
</style>
