<section class="section section-team" id="team">
  <div class="container">
    <div class="row items">
      <div class="col-12">
        <div class="wrapp-section-title section-title-center wow fadeIn" data-wow-delay=".5s">
          <h2 class="section-title">Our Team</h2>
          <hr
            style=" border: 0;height: 2px;background-image: linear-gradient(to right, #b60083, #94007b, #6f0071);">

        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight " data-wow-duration=".5s">
          <div class="team-item-img">
            <img data-src="https://i.postimg.cc/43hhRgxt/ckb.jpg" class="lazy" src="" alt="team member">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Chandan Kr Bhattacharya</h4>
            <div class="team-item-position">Dean</div>
            <ul class="team-item-social-links">
              <!-- TODO -->
              <li>
                <a href="https://www.facebook.com/chandankr.bhattacharyya" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"
                    style="color:white; background-color:#a2438f; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"
                    style="color:white;background-color:#a2438f;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"
                    style="color:white;background-color:#a2438f;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://https://www.facebook.com/chandankr.bhattacharyya" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"
                    style="color:white; background-color:#a2438f; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight" data-wow-duration=".75s">
          <div class="team-item-img">
            <img data-src="https://i.postimg.cc/jShRW339/mbh2.jpg" class="lazy"
              src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
              alt="team member">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Mousumi Bhattacharyya</h4>
            <div class="team-item-position">Chairman and HOD</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://www.facebook.com/mousumi.bhattacharyya.9" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"
                    style="color:white; background-color:#a2438f; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in//" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"
                    style="color:white;background-color:#a2438f;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"
                    style="color:white;background-color:#a2438f;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/mousumi.bhattacharyya.9" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"
                    style="color:white; background-color:#a2438f; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight" data-wow-duration="1s">
          <div class="team-item-img">
            <img data-src="https://i.postimg.cc/FRrddJxb/sg.jpg" class="lazy"
              src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
              alt="team member">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Swarup Ghosh</h4>
            <div class="team-item-position">Mentor</div>
            <ul class="team-item-social-links">
              <!-- TODO -->
              <li>
                <a href="https://www.facebook.com/https://www.facebook.com/swarupghosh0" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"
                    style="color:white; background-color:#a2438f; padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"
                    style="color:white;background-color:#a2438f;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"
                    style="color:white;background-color:#a2438f;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/swarupghosh0" title="Github">
                  <i class="fa fa-github fa-lg" aria-hidden="true"
                    style="color:white; background-color:#a2438f; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>
      <div class="col-lg-3 col-sm-6 col-12">
        <!-- Begin team item -->
        <div class="team-item item item-style wow fadeInRight " data-wow-duration="1.25s">
          <div class="team-item-img">
            <img data-src="" class="lazy"
              src="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
              alt="team member">
          </div>
          <div class="team-item-info">
            <h4 class="team-item-title item-title">Students to be added</h4>
            <div class="team-item-position">Convener</div>
            <ul class="team-item-social-links">
              <li>
                <a href="https://facebook.com/naveenshaw1998" title="Facebook">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"
                    style="color:white; background-color:#a2438f; padding:5px;"></i>
                </a>
              </li>
              <!-- <li>
                <a href="#!" title="Instagram">
                  <i class="fa fa-instagram fa-lg" aria-hidden="true" style="color:white;background-color:#a2438f;padding:5px;"></i>
                </a>
              </li> -->
              <li>
                <a href="https://linkedin.com/in/" title="LinkedIn">
                  <i class="fa fa-linkedin fa-lg" aria-hidden="true"
                    style="color:white;background-color:#a2438f;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/" title="Twitter">
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"
                    style="color:white;background-color:#a2438f;padding:5px;"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/naveenshaw1998" title="Github">
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"
                    style="color:white; background-color:#a2438f; padding:5px;"></i>
                </a>
              </li>
            </ul>
          </div>
        </div><!-- End team item -->
      </div>

 
    </div>
  </div>
</section><!-- End team -->
<style>
 .section-team {
   background: #ecf0f1;
 }
</style>

<script>
  $(".hide").hide();
  $("#show-less").hide();
  $(document).ready(function () {

    $("#load-more").click(function () {
      $(".hide").slideDown();
      $("#load-more").fadeOut();
      $("#show-less").fadeIn();

    });
    $("#show-less").click(function () {
      $(".hide").slideUp();
      $("#show-less").fadeOut();
      $("#load-more").fadeIn();

    });
  });
</script>
